<a href="https://colab.research.google.com/github/swetha315245/Python-Code/blob/main/phython_program.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

simple program

In [ ]:
name = "swetha"
age = 21
study = "bcom"
print("my name is;",name)
print()
print("my age is:",age)
print("my study is:",study)

my name is; swetha

my age is: 21
my study is: bcom

In [ ]:
student = "priya"
clas = 10
marks = 500
print("student name is:",student)
print("student class is:",clas)
print("student marks is:",marks)

student name is: priya
student class is: 10
student marks is: 500

check which data type

In [ ]:
day = 21
month = "november"
year = 2025
print("day is:",day)
print("month is:",month)
print("year is",year)
print()
print("day is:",type(day))
print("month is:",type(month))
print("year is:",type(year))

day is: 21
month is: november
year is 2025

day is: <class 'int'>
month is: <class 'str'>
year is: <class 'int'>

int and float data type program

In [ ]:
students = 483
teachers = 56
print("students")
print("teachers")
print(type(students))
print(type(teachers))

students
teachers
<class 'int'>
<class 'int'>

In [ ]:
value1 = 25.25
value2 = 215.52
print("value1")
print("value2")
print(type(value1))
print(type(value2))

value1
value2
<class 'float'>
<class 'float'>

none data type

In [ ]:
a = None
print(a)
print(type(a))

None
<class 'NoneType'>

bool data type

In [ ]:
a = True
b = False
print(a)
print(b)
print()
print(type(a))
print(type(b))

True
False

<class 'bool'>
<class 'bool'>

sequences
string data type

In [ ]:
name1 = "sravanthi"
name2 = "nandu"
name3 = "anu"
name4 = "kavya"
print(name1)
print(name2)
print(name3)
print(name4)
print()
print(type(name1))
print(type(name2))
print(type(name3))
print(type(name4))

sravanthi
nandu
anu
kavya

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

list data type

In [ ]:
values = [20,30,42,58,85]
print("values")
print(type(values))

values
<class 'list'>

tuple data type