<a href="https://colab.research.google.com/github/swetha315245/Python-Code/blob/main/phython_swetha.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

friday

5 - 12 -2025

veriable


1.   the name given to memory location
2.   veriable are used to store values

            

---

In [ ]:
age = 22                        # age     = veriable
print ("age :", age)            # 22      = value
                                # '='     = operator
                                # print() = function

age : 22

In [ ]:
#a = 5
#b = a                       # ERROR because we don't have "p" veriable
#c = p
#print (c)

NOTE :
       " in one veriable we can store only one value at a time,
        whenever secound value comes then first value is deleted."

In [ ]:
# example
a = 8
a = 26
print("A :",a)

A : 26

In [ ]:
priya = 25
priya = 28
print("priya :",priya)

priya : 28

NOTE :
        " we can  use more then one veriable and values at a time"
        syntax :
                veriable_1,veriable_2 = value 1 ,value 2
         
         rule : no of veriables and values should me match

In [ ]:
a,b = 2,5
print("A :",a)
print("B :",b)

A : 2
B : 5

In [ ]:
#a,b,c = 2,5,
#print("a is :",a)
#print("b is :",b)
#print("c is :",c)

SATURDAY

PROGRAMS

6 / 12 /2025

1. consider first name as "sathya" and last name as "technology"now print fullname

In [ ]:
fname = 'sathya'
lname = "technology"
print("fullname as :",fname + lname)

fullname as : sathyatechnology

2. consider a value as 5 and b value as 7 now add a,b store into c,then display c

In [ ]:
a = 5
b = 7
c = a+b
print("c :",c)

c : 12

3. wrrite a program take a=5.6, b=10.5 and display sum

In [ ]:
a = 5.6
b = 10.5
c = a + b
print("sum :",c)

sum : 16.1

In [ ]:
a = 20
b = 2.5
c = a-b
print("subtraction :",c)

subtraction : 17.5

In [ ]:
asal    = 650000
msalary = asal/12
print("mr.vishnu monthly salary :",msalary)

mr.vishnu monthly salary : 54166.666666666664

In [ ]:
msal = 34500.0
asal = msal*12
print("mr.avinash annual salary :",asal)

mr.avinash annual salary : 414000.0

In [ ]:
pcost    = 345.60
order    = 3
scharges = 20
tip      = 30
bill_amt = pcost*order
total_amt = bill_amt + scharges + tip
print("bill amount :",bill_amt)
print("total bill amount :",total_amt)

bill amount : 1036.8000000000002
total bill amount : 1086.8000000000002

In [ ]:
s1  = 92
s2  = 98
s3  = 99
tm  = s1+s2+s3
avg = tm/3
print("average marks :",avg)

average marks : 96.33333333333333

avg = total marks / no of subjects

In [ ]:
celsius = 32
fahrenheit = (celsius * 9/5) + 32
print("fahrenheit :",fahrenheit)

fahrenheit : 89.6

fahrenheit formula = celsius * 9/5 + 32

In [ ]:
fahrenheit = 102
celsius = (fahrenheit*5/9)-32
print("celsius :",celsius)

celsius : 24.666666666666664

celsiusn formula = fahrenheit * 5/9 -32

In [ ]:
BD_amt = 500000
years  = 5
rate   = 7.8
SI = (BD_amt*years*rate)/100
famt = BD_amt + SI
print("interest amount :",SI)
print("mr.venkat received amount :",famt)

interest amount : 195000.0
mr.venkat received amount : 695000.0

simple interest formula :

P = Principal amount

R = Rate of interest (as a percentage)

T = Time period (in years)

  **SI**= PTR/100

swapping : interchange values is called swapping.

by using 3rd veriable

In [ ]:
a = 2
b = 3
c = a
a = b
b = c
print("a :",a)
print("b :",b)

a : 3
b : 2

without using 3rd veriable

In [ ]:
a = 1
b = 2
a = a+b
b = a-b
a = a-b
print("a :",a)
print("b :",b)

a : 2
b : 1

without using 3rd veriable and +,- operators

In [ ]:
a,b = 2,3
b,a = a,b
print("a :",a)
print("b :",b)

a : 3
b : 2

7 / 12 / 2025  sunday

In [ ]:
sread = 11236
rread = 11494
km = (rread-sread)
print("pooja travelled kilometers :",km)

pooja travelled kilometers : 258

In [ ]:
mcost = 220
bcost = 360
mord = 3
bord = 2
tip = 20
mbill = mcost * mord
bbill = bcost * bord
tbill = mbill + bbill + tip
shbill = tbill/3
print ("sharing bill :",shbill)

sharing bill : 466.6666666666667

In [ ]:
MMbill = 930.0
mday   = 31
leavs  = 4
perdc  = MMbill/mday
tdays  = mday - leavs
mmbill_amt = tdays * perdc
print("march month milk bill :",mmbill_amt)

march month milk bill : 810.0

cost per day formula :    

      total bill/ days in march
delivery days :

       days in march - leavs

bill Amount :

       delivery days * cost per day

In [ ]:
aday   = 94
totald = 126
atendp = aday/totald*100
print("attendance percentage :",atendp)

attendance percentage : 74.60317460317461

 percentage formula :

          (Part / Whole)* 100

In [ ]:
wtins = 6
wcost = 20
AMD = 30
TWC = wtins * wcost * AMD
print("august month water bill :",TWC)

august month water bill : 3600

In [ ]:
_1lpc = 108.96
tpc   = 300
qnty = tpc/_1lpc
print("quantity :",qnty)

quantity : 2.7533039647577096

In [ ]:
soldb = 1680
mngb  = 1150
profit = soldb - mngb
print("profit :",profit)

profit : 530

In [ ]:
pcost = 200
gst = 20
gstA = pcost * gst/100
fcost = pcost - gstA
print("gst amount :",gstA)
print("final cost :",fcost)

gst amount : 40.0
final cost : 160.0

In [ ]:
pcost = 326.50
cord  = 3
dis   = 20
billA = pcost * cord
disA  = billA * dis/100
fcost = billA - disA
print("bill amount :",billA)
print("discount amount :",disA)
print("final cost :",fcost)
#

bill amount : 979.5
discount amount : 195.9
final cost : 783.6

In [ ]:
EMS = 30000
pf  = 12
tax = 8
pfA = EMS * pf/100
taxA = EMS * tax/100
FMS = EMS - pfA - taxA
print("pf amount :",pfA)
print("tax amount :",taxA)
print("final monthly salary :",FMS)

pf amount : 3600.0
tax amount : 2400.0
final monthly salary : 24000.0

In [ ]:
bank  = 500000
years = 4
rate  = 11.4
si  = (bank*years*rate)/100
famt = bank + si
emi  = famt/12
print("interest amount :",si)
print("final amount :",famt)
print("monthly emi :",emi)

interest amount : 228000.0
final amount : 728000.0
monthly emi : 60666.666666666664

simple interest formula :

       P = Principal amount

       R = Rate of interest (as a percentage)

       T = Time period (in years)

       **SI**= PTR/100

final amount :
           
    principal amount + si

emi :

    final amount / 12

In [ ]:

CMR = 2456
LMR = 2234
cpu = 3.46
tax = 0.06
schrg = 30

units = CMR - LMR
cou   = units * cpu
taxAn = cou  * tax
total = cou + taxA + schrg

print("units consumed :",units)
print("cost of units :",cou)
print("tax amount :",taxA)
print("total bill :",total)

units consumed : 222
cost of units : 768.12
tax amount : 2400.0
total bill : 3198.12

units consumed :      
      
    current reading - last reading

cost of units consumed :     

    units consumed * cost per unit

tax amount :    

    units consumed * tax per unit

total bill :    

    cost of units + tax amount + service charges

In [ ]:
CRR = 11494
CSR = 11236
kmc = 15
tolc = 200
NOKM = CRR - CSR
billA = NOKM * kmc + tolc
print("no of kilometers :",NOKM)
print("pooja bill amount :",billA)

no of kilometers : 258
pooja bill amount : 4070

8 / 12 /2025

monday

by using input function

In [ ]:
emp_id   = input("enter employee id : ")
emp_name = input("enter employee name : ")
gender   = input("enter employee gender : ")
emp_sal  = float(input("enter employee salary : "))
moths    = int(input("enter month : "))
AS       = emp_sal * 12
print()
print("employee id :",emp_id)
print("employee name :",emp_name)
print("employee gender :",gender)
print("employee salary :",emp_sal)
print("annual salary",AS)

enter employee id : 2115455
enter employee name : swetha
enter employee gender : female
enter employee salary : 30000
enter month : 12

employee id : 2115455
employee name : swetha
employee gender : female
employee salary : 30000.0
annual salary 360000.0

In [ ]:
bcost = 395.25
qty   = int(input("enter quantity : "))
billA = bcost * qty
print("bill amount :",billA)

enter quantity : 3
bill amount : 1185.75

In [ ]:
amt  = eval(input("enter amount :"))
dc   = eval(input("enter doller cost :"))
doll = amt/dc
print("amount in dollers :",doll)

enter amount :256
enter doller cost :90.14
amount in dollers : 2.8400266252496116

In [ ]:
doll   = eval(input("enter doller coost :"))
amt    = eval (input("enter amount :"))
rupees = doll * amt
print("doller to rupees :",rupees)

enter doller coost :90.14
enter amount :3000
doller to rupees : 270420.0

In [ ]:
gtc      = 460
inc_cost = 50
actual   = gtc + inc_cost/100
NOT      = int(input("enter no of tickets :"))
TBA      = actual * NOT
print("general ticket cost :",gtc)
print("increased cost :",inc_cost)
print("total bill amount :",TBA)

enter no of tickets :6
general ticket cost : 460
increased cost : 50
total bill amount : 2763.0

In [ ]:
EAS   = eval(input("enter employee annual salary :"))
hike  = int(input("hike percentage :"))
ahike = EAS *hike/100 + EAS
NMS   = ahike/12
print("employee annual salary :",EAS)
print("hike percentage :",hike)
print("after hike salary :",ahike)
print("new monthly salary :",NMS)

enter employee annual salary :300000
hike percentage :6
employee annual salary : 300000
hike percentage : 6
after hike salary : 318000.0
new monthly salary : 26500.0

In [ ]:
MVL = eval(input("enter market value land :"))
OSD = 5
NSD = 7
OSDA = MVL - MVL * OSD/100
NSDA = MVL - MVL * NSD/100
diff = OSDA - NSDA
print("market value land :",MVL)
print("old stam duty :",OSD)
print("new stam duty  :",NSD)
print("old stam duty amount :",OSDA)
print("new stam duty amount :",NSDA)
print("difference :",diff)

enter market value land :30000000
market value land : 30000000
old stam duty : 5
new stam duty  : 7
old stam duty amount : 28500000.0
new stam duty amount : 27900000.0
difference : 600000.0

In [ ]:
celsius = eval(input("enter celsius : "))
fahrenheit = (celsius * 9/5) + 32
print("fahrenheit :",fahrenheit)

enter celsius : 56
fahrenheit : 132.8

In [ ]:
f = eval(input("enter fahrenheit : "))
c = f *5/9 - 32
print("celsius :",c)

enter fahrenheit : 65
celsius : 4.111111111111114

In [ ]:
mc = eval(input("mango cost per kg :"))
qty = eval(input("quantity :"))
dis = 22
BA  = mc * qty
DA  = BA * dis/100
TBA = BA - DA
print("bill amount :",BA)

print("discount amount :",DA)
print("total bill amount :",TBA)

mango cost per kg :90
quantity :3
bill amount : 270
discount amount : 59.4
total bill amount : 210.6

In [ ]:
GTC = 3450
GST = 18
ITC = 3200
IGST = 12
GTCA = GTC + GTC * GST/100
ITCA = ITC + ITC * IGST/100
SA = GTCA - ITCA
print("general ticket cosT amount :",GTCA)
print("income tax amount :",ITCA)
print("mr. venkat saved amount :",SA)

general ticket cosT amount : 4071.0
income tax amount : 3584.0
mr. venkat saved amount : 487.0

In [ ]:
km = eval(input("enter kilometers :"))
meters = km * 1000
print("convert into km to meters :",meters)

enter kilometers :6
convert into km to meters : 6000

In [ ]:
hours = eval(input("enter hours :"))
days  = hours/24
print("converted into hours to days :",days)

enter hours :68
converted into hours to days : 2.8333333333333335

functoins programs by using def keyword  11/12/2025

In [ ]:
def show():
  print("hi")
def display():
  print("hello")
print("thank you")

thank you

In [ ]:
def show():
  print("hai")
def display():
  print("hello")
show()
print("thank you")

hai
thank you

In [ ]:
def show():
  print("hai")
def display():
  print("hello")
display()
print("thank you")

hello
thank you

In [ ]:
def show():
  print("hai")
def display():
  print("hello")
show()
display()
print("thank you")

hai
hello
thank you

In [ ]:
def show():
  print("hai")
def display():
  print("hello")
  show()
print("thank you")

thank you

In [ ]:
def show():
  print("hai")
def display():
  print("hello")
  show()
show()
print("thankyou")

hai
thankyou

In [ ]:
def show():
  print("hai")
  display()
def display():
  print("hello")
display()
print("thank you")

hello
thank you

functional programs 11/12/2025

In [ ]:
def msal(annualsal):
  msal = annualsal / 12
  print("monthly salary :",msal)
msal(500000.0)

monthly salary : 41666.666666666664

In [ ]:
def Asal(monthlysal):
  Asal = monthlysal * 12
  print("annual salary :",Asal)
Asal(50000.0)

annual salary : 600000.0

In [ ]:
def totalM(s1,s2,s3):
  totalM = s1+s2+s3
  print("total marks :",totalM)
totalM(99,86,92)

total marks : 277

In [ ]:
def RS(dol,dcost):
  RS = dol*dcost
  print("amount in rupees",RS)
RS(985,90.14)

amount in rupees 88787.9

In [ ]:
def intA(landAmt,duration,roi):
  intA = landAmt * duration * roi/100
  print("interest AAmount :",intA)
intA(2000000,5,3)

interest AAmount : 300000.0

In [ ]:
def FA(loanAmt,intamt):
  FA = loanAmt + intamt
  print("final amount :",FA)
FA(100000,20000)

final amount : 120000

In [ ]:
def EMI(finalA,dur):
   EMI = finalA/dur
   print("monthly EMI :",EMI)
EMI(300000,12)

monthly EMI : 25000.0

In [ ]:
def AttedP(wdays,Pdays):
  AttendP = Pdays/wdays*100
  print("attendance percentage :",AttendP)
AttedP(265,235)

attendance percentage : 88.67924528301887

In [ ]:
def disA(pcost,disP):
  disA = pcost - pcost * disP/100
  print("discount amount :",disA)
disA(3000.0,25)

discount amount : 2250.0

In [ ]:
def GSTA(tvcost,gstp):
  GSTA = tvcost * gstp/100 + tvcost
  print("GST amount :",GSTA)
GSTA(40000.0,8)

GST amount : 43200.0

return keyword programs 12/12/2025

In [ ]:
def caltotal(s1,s2,s3):
  tot = s1 + s2 + s3
  return tot
def  calavg(tot):
  avg = tot/3
  return avg
a = caltotal(99,86,92)
b = calavg(a)
print("total marks :",a)
print("average marks :",b)

total marks : 277
average marks : 92.33333333333333

In [ ]:
def total(s1,s2,s3):
  tot = s1 + s2 + s3
  avg = tot/3
  return tot,avg
a,b = total(99,86,92)
print("total marks :",a)
print("average marks :",b)

total marks : 277
average marks : 92.33333333333333

In [ ]:
def cal(salary,NOD):
  PDA = salary / NOD
  leavA = PDA * 4
  finsal = salary - leavA
  return PDA,leavA,finsal
a,b,c = cal(30000,30)
print("per day Amount :",a)
print("leave amount :",b)
print("final salary amount :",c)

per day Amount : 1000.0
leave amount : 4000.0
final salary amount : 26000.0

In [ ]:
def intA(loanAmt,duration,roi):
  intA = loanAmt * duration * roi/100
  finA = loanAmt + intA
  emi  = finA/(duration*12)
  return intA,finA,emi
a,b,c = intA(100000,5,3)
print("interest amount :",a)
print("final amount :",b)
print("monthly emi :",c)

interest amount : 15000.0
final amount : 115000.0
monthly emi : 1916.6666666666667

In [ ]:
def billA(pcost,qty):
  billA = pcost * qty
  damt = billA * 20/100
  famt = billA - damt
  return billA,damt,famt
a,b,c = billA(365,2)
print("bill amount :",a)
print("discount amount :",b)
print("final amount :",c)

bill amount : 730
discount amount : 146.0
final amount : 584.0

functions 1 exam paper 13/12/2025

In [ ]:
def    f1( ):
        print("Core Python")
f1( )
print("Bye")

Core Python
Bye

In [ ]:
def     f1( ):
        print("Core Python ")
        f2( )
        print("Venkat Reddy")
def   f2( ):
           print("Advanced Python")
f1( )
print("Bye")

Core Python
Advanced Python
Venkat Reddy
Bye

In [ ]:
def     f1( ):
           print(" Core Python ")
           f2( )
           print(" Venkat Reddy")

f1( )
print("Bye")

 Core Python
Advanced Python
 Venkat Reddy
Bye

In [ ]:
#def   show( ):
    #   a = 20
    #   print( a )
#def   display( ):
      #   b = 50
      #   c = a + b
      #   print( c )
#show( )
#display( )

In [ ]:
#def   show( ):
 #        a = 20
  #       print( a )                  # so we can not print the "a" in out side of the function why because
#def   display( ):                     it is a local veriable we can not access
 #        a = 50
  #       print( a)
#show( )
#isplay( )
#print( a )

In [ ]:
#def   show( ):
 #        print( a )
#show( )

15/12/2025  functions 3

In [ ]:
def   show(a,b):
          c = a + b
          return  c
a = show(20,30)
print(a)

50

In [ ]:
def display():
    p = 5
    q = 7
    return  p,q
a = display()
print(a)

(5, 7)

In [ ]:
def show( ):
    print("Hello")
show()

Hello

In [ ]:
def PNRStatus(pnrno):
    print("Display")
PNRStatus(25565)

Display

In [ ]:
def calTotal(a,b,c):
    tot = a + b + c
    return  tot
def calAvg(t):
    avg = t / 3
    return avg
a = calTotal(2,3,6)
b = calAvg(a)
print(a)
print(b)

11
3.6666666666666665

In [ ]:
amt = 5000
def withdrawAmt(wAmt):
    global amt
    amt = amt - wAmt
    print(amt)
withdrawAmt(2000)

3000

In [ ]:
def CalSquare(a):
    s = a * a
    print(a)
CalSquare(20)

20

In [ ]:
def CalAvg(a,b,c):
    s = a+b+c/3
    return a,b,c
a = CalAvg(5,6,9)
print(a)

(5, 6, 9)

In [ ]:
def show( ):
      print("Hai")
      return 5
      print("Hello")
a = show()

Hai

In [ ]:
def display(a,b):
      a = 9
      b = 7
      c = a + b
      return c
p = display(3,9)
print( p )

16

In [ ]:
def CalBill(p,q):
      bill = p * q
      return bill
a = CalBill(20,5)
print(a)

100

In [ ]:
def InterestAmt(p,t,r):
      iAmt = p*t*r/100
      return iAmt
a = InterestAmt(20000,5,3)
print(a)

3000.0

In [ ]:
def Sharing(amt,n):
      splitAmt = amt / n
      return splitAmt
a = Sharing(3000,3)
print(a)

1000.0

In [ ]:
 a = 5
def show(a):
      print(a)
      a = 10
      print(a)
show(20)
print(a)

20
10
5

In [ ]:
 a=5
 def show(a):
      print(a)
      a = 7
      return a
 a = show(10)
 print(a)

10
7

In [ ]:
amt = 7000
def BalEnq():
      global amt
      print(amt)
      amt = amt + 2000
BalEnq()
print(amt)

7000
9000

In [ ]:
def  Attendnce(npdays,nwdays):
     ap = npdays/nwdays
     return ap
a = int(input("Enter no.of present Days : "))
b = int(input("Enter no.of Working Days : "))
c = Attendnce(a,b)
print("Attendance Percentage : ",c)

Enter no.of present Days : 126
Enter no.of Working Days : 200
Attendance Percentage :  0.63

In [ ]:
def petrolBill(cost,n):
    bill = cost * n
    return bill
pcost = eval(input("Enter Cost : "))
q = int(input("Enter quantity : "))
a = petrolBill(pcost,q)
print("Bill Amount : ",a)

Enter Cost : 256
Enter quantity : 3
Bill Amount :  768

In [ ]:
def f1(a):
    a = 9
    print(a)
def f2(a):
    print(a)
a = 7
f1(a)
f2(a)

9
7

In [ ]:
def f1(a):
    a = 9
    print(a)
def f2(a):
    print(a)
f1(a)
f2(a)
a = 20

9
7

In [ ]:
def f1(a):
    a = 9
    print(a)
    return a
def f2(a):
    print(a)
a = 7
a = f1(a)
f2(a)

9
9

In [ ]:
def f1(a):
    a = 9
    print(a)
    return a
def f2(a):
    print(a)
a = 5
b = f1(a)
f2(a)

9
5

22/12/2025
by functins concept useing without fuction and with function

In [ ]:
esal = eval(input("enter employe monthly salary :"))
tax = eval(input("enter tax percentage :"))
taxA = esal * tax /100
FA = esal - taxA
print("tax amount :",taxA)
print("final amount :",FA)

enter employe monthly salary :30000
enter tax percentage :8
tax amount : 2400.0
final amount : 27600.0

In [ ]:
def efinsal(esal,tax):
  taxA = esal * tax /100
  FA = esal - taxA
  print("tax amount :",taxA)
  print("final amount :",FA)
a = eval(input("enter employe monthly salary :"))
b = eval(input("enter tax percentage :"))
c = efinsal(a,b)

enter employe monthly salary :30000
enter tax percentage :8
tax amount : 2400.0
final amount : 27600.0

In [ ]:
FAPC = eval(input("enter fiber annual package cost : "))
gst = eval(input("enter gst percentage :"))
gstA = FAPC * gst /100
FA = FAPC + gstA
print("gst amount :",gstA)
print("final amount :",FA)

enter fiber annual package cost : 17599
enter gst percentage :8
gst amount : 1407.92
final amount : 19006.92

In [ ]:
def calculaate(fcost,gst):
  gstA = fcost * gst /100
  FA = fcost + gstA
  print("gst amount :",gstA)
  print("final amount :",FA)
a = eval(input("enter fiber annual package cost "))
b = eval(input("enter gst percentage :"))
c = calculaate(a,b)

enter fiber annual package cost 17599
enter gst percentage :8
gst amount : 1407.92
final amount : 19006.92

In [ ]:
Nohw = eval(input("enter no of hours worked :"))
PHA = 900
ADD = 50
tax = 12.8
totA = Nohw * PHA + ADD
taxA = totA * tax /100
FA = totA - taxA
print("total amount :",totA)
print("tax amount :",taxA)
print("final amount :",FA)

enter no of hours worked :48
total amount : 43250
tax amount : 5536.0
final amount : 37714.0

In [ ]:
def empFA(nohw,pha,add,tax):
  totA = nohw * pha + add
  taxA = totA * tax /100
  FA = totA - taxA
  print("total amount :",totA)
  print("tax amount :",taxA)
  print("final amount :",FA)
a = eval(input("enter no of hours worked :"))
b = empFA(a,900,50,12.8)

enter no of hours worked :48
total amount : 43250
tax amount : 5536.0
final amount : 37714.0

In [ ]:
PRC = 1500.0
NOY = eval(input("enter number of years :"))
pay = 500
trc = PRC * NOY + pay
tax = 18
taxA = trc * tax /100
FA = trc - taxA
print("total amount :",trc)
print("tax amount :",taxA)
print("final amount :",FA)

enter number of years :5
total amount : 8000.0
tax amount : 1440.0
final amount : 6560.0

In [ ]:
def FinA(prc,noy,pay,tax):
  trc = prc * noy + pay
  taxA = trc * tax /100
  FA = trc - taxA
  print("total amount :",trc)
  print("tax amount :",taxA)
  print("final amount :",FA)

a = eval(input("enter number of years :"))
b = FinA(1500.0,a,500,18)

enter number of years :5
total amount : 8000.0
tax amount : 1440.0
final amount : 6560.0

GRAND TEST

In [ ]:
Asal = eval(input("enter annual salary :"))
hikep = 16
NAsal = Asal * hikep/100 + Asal
NMsal = NAsal / 12
print("new annual salary :",NAsal)
print("new monthly salary :",NMsal)

enter annual salary :300000
new annual salary : 348000.0
new monthly salary : 29000.0

In [ ]:
startR = 11236
reachR = 11494
charges = 12
KMT = reachR - startR
KMcharges = KMT * charges
print("total distance :",KMT)
print("total charges :",KMcharges)

total distance : 258
total charges : 3096

In [ ]:
a = eval(input("enter any number :"))
b = eval(input("enter any number :"))
c = a - 1
d = b + 1
print (c)
print (d)

enter any number :1
enter any number :0
0
1

In [ ]:
def rectangle(length,width):
  rectangle = length * width
  return rectangle
a = rectangle(8,4)
print(a)

32

In [ ]:
def nsal(Asal,hikep):
  nsal = Asal * hikep/100 + Asal
  return nsal
a = nsal(300000,18)
print(a)

354000.0

In [ ]:
def caltm(s1,s2,s3):
  totm = s1 + s2 + s3
  return totm
def calavg(totm):
  avg = totm/3
  return avg
a = eval(input("enter sub 1 marks :"))
b = eval(input("enter sub 2 marks :"))
c = eval(input("enter sub 3 marks :"))
d = caltm(a,b,c)
e = calavg(d)
print("total marks :",d)
print("average marks :",e)

enter sub 1 marks :86
enter sub 2 marks :96
enter sub 3 marks :92
total marks : 274
average marks : 91.33333333333333

In [ ]:
fullt    = eval(input("enter no of full ticekts :"))
halft    = eval(input("enter no of half ticekts :"))
distance = 260
fullcost = 4
halfcost = 2
tolcharge = 25
scharge = 30
lcharge = 20
tax = 0.06
tcost = (fullt * fullcost) + (halft * halfcost) * distance
totchrg = tcost * (tolcharge + lcharge ) + scharge
taxA = totchrg * tax/100 - totchrg
print("total cost :", tcost)
print("total charges :",totchrg)
print("tax amount :",taxA)

enter no of full ticekts :2
enter no of half ticekts :2
total cost : 1048
total charges : 47190
tax amount : 47218.314

LAMBDA FUCTION CONCEPT BASED PROGRAM

In [ ]:
res = lambda n :n*n
print(res(5))

25

In [ ]:
res = lambda n : n*n
a = int(input("enter any number:"))
print(res(a))

enter any number:8
64

In [ ]:
totm = lambda s1,s2,s3 : s1 + s2 + s3
print(totm(90,95,96))

281

In [ ]:
intA = lambda loanAmt,duration,roi : loanAmt * duration * roi/100
print(intA(100000,5,3))

15000.0

map function concept based programs

In [ ]:
sal = [10,20,5,2,6]
nsal = list(map(lambda n : n + 10,sal))
print(nsal)

[20, 30, 15, 12, 16]

In [ ]:
sal = [ 7000,8000,9000,5000,6000]
nsal = list(map(lambda n : n + 3000,sal))
print(nsal)

[10000, 11000, 12000, 8000, 9000]

filter functions concept based programs

In [ ]:
a = [10,5,30,9,6,8]
b = list(filter(lambda n : n<20,a))
print(b)

[10, 5, 9, 6, 8]

In [ ]:
a = [5,8,4,9,8]
b = list(filter(lambda n : n<5,a))
print(b)

[4]

In [ ]:
g = [10,20,30,40,50]
h = list(filter(lambda n : n>20,g))
print(h)

[30, 40, 50]

flow control statement programs

In [ ]:
a = int(input("enter any number :"))
b = int(input("enter any number :"))
if(a>b):
  print("a is the big number of b")
else:
  print("b is the big number of a")

enter any number :8
enter any number :6
a is the big number of b

In [ ]:
uname = input("enter user name :")
pwd = input("enter your password :")
if (uname == "venkat" and pwd =="sathya"):
  print("valid user")
else:
  print("invalid user")

enter user name :swetha
enter your password :54544
invalid user

In [ ]:
bAmt = 6000
wAmt = eval(input("enter withdraw amount"))
if (wAmt <= bAmt):
  AbAmt = bAmt - wAmt
  print("available balance :",AbAmt)
else:
  print("insufficient balance")

enter withdraw amount5500
available balance : 500

In [ ]:
temp = eval(input("enter temperature :"))
if (temp >= 35):
  print("hot day")
else:
  print("normal day")

enter temperature :26
normal day

In [ ]:
byear = int(input("enter birth year :"))
cyear = int(input("enter current year :"))
age = cyear - byear
if(age<=18):
  print("minor person")
else:
  print("aduilt person")

enter birth year :2004
enter current year :2026
aduilt person

In [ ]:
n = int(input("enter any number :"))
if(n%3==0 and n%5==0):
  print("divisible by both")
else:
  print("not divisible by both5")

enter any number :35
not divisible by both

In [ ]:
dis = eval(input("enter distance :"))
if(dis<10):
  Tcost = dis * 10
  print(Tcost)
else :
  tcost = dis * 8
  print(tcost)

enter distance :50
400

In [ ]:
n = int(input("enter leap year :"))
if(n%4==0 and n%100!=0 or n%400==0):
  print("leap year")
else:
  print("not a leap year")

enter leap year :1996
leap year

elif conditional program

In [7]:
smarks = eval(input("enter your subject marks :"))
if(smarks < 0 or smarks > 100):
    print("invalid marks")

enter your subject marks :200
invalid marks

In [17]:
pcost   = eval(input("enter product cost :"))
qty     = eval(input("enter quantity :"))
billamt = pcost * qty

if(billamt > 5000):
  dis = 20
  disamt = billamt * dis /100
  famt = billamt - disamt
  print("bill amount :",billamt)
  print("discount amount :",disamt)
  print("final amount :",famt)
else:
  print("no discount")
  print("final bill amount",billamt)

enter product cost :800
enter quantity :9
bill amount : 7200
discount amount : 1440.0
final amount : 5760.0

In [18]:
asal = eval(input("enter annual salary :"))
msal = asal/12
if(msal>=50000):
  tax = 12
  taxa = msal * tax/100
  nmsal = msal + taxa
  print("monthly salary :",msal)
  print("tax amount :",taxa)
  print("new monthly salary :",nmsal)
else:
  print("no tax")
  print("monthly salary :",msal)

enter annual salary :600000
monthly salary : 50000.0
tax amount : 6000.0
new monthly salary : 56000.0

In [20]:
pcost = eval(input("enter product cost :"))
qty   = eval(input("enter quantity :"))
billamt = pcost * qty
card = input("enter card type")
if(card=="icic"):
  dis = 15
  disamt = billamt * dis/100
  famt = billamt - disamt
  print("bill amount :",billamt)
  print("discount amount :",disamt)
  print("final amount :",famt)
else:
  print("no discount")
  print("final bill amount",billamt)

enter product cost :500
enter quantity :6
enter card typeicic
bill amount : 3000
discount amount : 450.0
final amount : 2550.0

In [21]:
tcost = eval(input("enter ticket cost :"))
NOT = eval(input("enter no of tickets :"))
billamt = tcost * NOT
code = input("enter customer code :")
if(code == "SAVE20"):
 dis = 20
 disamt = billamt * dis/100
 famt = billamt - disamt
 print("bill amount :",billamt)
 print("discount amount :",disamt)
 print("final amount :",famt)
else:
  print("no discount")
  print("final bill amount",billamt)

enter ticket cost :50
enter no of tickets :5
enter customer code :SAVE20
bill amount : 250
discount amount : 50.0
final amount : 200.0

In [23]:
age = int(input("enter age :"))
if(age >= 18 and age <= 25):
  print("eligible apply for job")
else:
  print("invalid age")

enter age :20
eligible apply for job

In [25]:
a = int(input("enter any number :"))
b = int(input("enter any number :"))
c = int(input("enter any number :"))
if(a>b and a>c):
  print("a is big number")
if(b>a and b>c):
  print("b is big number")
else:
  print("c is big number")

enter any number :6
enter any number :5
enter any number :9
c is big number