<a href="https://colab.research.google.com/github/swetha315245/Python-Code/blob/main/phython_swetha.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

friday

5 - 12 -2025

veriable


1.   the name given to memory location
2.   veriable are used to store values

            

---

In [ ]:
age = 22                        # age     = veriable
print ("age :", age)            # 22      = value
                                # '='     = operator
                                # print() = function

age : 22

In [ ]:
#a = 5
#b = a                       # ERROR because we don't have "p" veriable
#c = p
#print (c)

In [ ]:


print(a)

26

NOTE :
       " in one veriable we can store only one value at a time,
        whenever secound value comes then first value is deleted."

In [ ]:
# example
a = 8
a = 26
print("A :",a)

A : 26

In [ ]:
priya = 25
priya = 28
print("priya :",priya)

priya : 28

NOTE :
        " we can  use more then one veriable and values at a time"
        syntax :
                veriable_1,veriable_2 = value 1 ,value 2
         
         rule : no of veriables and values should me match

In [ ]:
a,b = 2,5
print("A :",a)
print("B :",b)

A : 2
B : 5

In [ ]:
#a,b,c = 2,5,
#print("a is :",a)
#print("b is :",b)
#print("c is :",c)

SATURDAY

PROGRAMS

6 / 12 /2025

1. consider first name as "sathya" and last name as "technology"now print fullname

In [ ]:
fname = 'sathya'
lname = "technology"
print("fullname as :",fname + lname)

fullname as : sathyatechnology

2. consider a value as 5 and b value as 7 now add a,b store into c,then display c

In [ ]:
a = 5
b = 7
c = a+b
print("c :",c)

c : 12

3. wrrite a program take a=5.6, b=10.5 and display sum

In [ ]:
a = 5.6
b = 10.5
c = a + b
print("sum :",c)

sum : 16.1

In [ ]:
a = 20
b = 2.5
c = a-b
print("subtraction :",c)

subtraction : 17.5

In [ ]:
asal    = 650000
msalary = asal/12
print("mr.vishnu monthly salary :",msalary)

mr.vishnu monthly salary : 54166.666666666664

In [ ]:
msal = 34500.0
asal = msal*12
print("mr.avinash annual salary :",asal)

mr.avinash annual salary : 414000.0

In [ ]:
pcost    = 345.60
order    = 3
scharges = 20
tip      = 30
bill_amt = pcost*order
total_amt = bill_amt + scharges + tip
print("bill amount :",bill_amt)
print("total bill amount :",total_amt)

bill amount : 1036.8000000000002
total bill amount : 1086.8000000000002

In [ ]:
s1  = 92
s2  = 98
s3  = 99
tm  = s1+s2+s3
avg = tm/3
print("average marks :",avg)

average marks : 96.33333333333333

avg = total marks / no of subjects

In [ ]:
celsius = 32
fahrenheit = (celsius * 9/5) + 32
print("fahrenheit :",fahrenheit)

fahrenheit : 89.6

fahrenheit formula = celsius * 9/5 + 32

In [ ]:
fahrenheit = 102
celsius = (fahrenheit*5/9)-32
print("celsius :",celsius)

celsius : 24.666666666666664

celsiusn formula = fahrenheit * 5/9 -32

In [ ]:
BD_amt = 500000
years  = 5
rate   = 7.8
SI = (BD_amt*years*rate)/100
famt = BD_amt + SI
print("interest amount :",SI)
print("mr.venkat received amount :",famt)

interest amount : 195000.0
mr.venkat received amount : 695000.0

simple interest formula :

P = Principal amount

R = Rate of interest (as a percentage)

T = Time period (in years)

  **SI**= PTR/100

swapping : interchange values is called swapping.

by using 3rd veriable

In [ ]:
a = 2
b = 3
c = a
a = b
b = c
print("a :",a)
print("b :",b)

a : 3
b : 2

without using 3rd veriable

In [ ]:
a = 1
b = 2
a = a+b
b = a-b
a = a-b
print("a :",a)
print("b :",b)

a : -2
b : 1

without using 3rd veriable and +,- operators

In [ ]:
a,b = 2,3
b,a = a,b
print("a :",a)
print("b :",b)

a : 3
b : 2

7 / 12 / 2025  sunday

In [ ]:
sread = 11236
rread = 11494
km = (rread-sread)
print("pooja travelled kilometers :",km)

pooja travelled kilometers : 258

In [ ]:
mcost = 220
bcost = 360
mord = 3
bord = 2
tip = 20
mbill = mcost * mord
bbill = bcost * bord
tbill = mbill + bbill + tip
shbill = tbill/3
print ("sharing bill :",shbill)

sharing bill : 466.6666666666667
sharing bill : 466.6666666666667

In [ ]:
MMbill = 930.0
mday   = 31
leavs  = 4
perdc  = MMbill/mday
tdays  = mday - leavs
mmbill_amt = tdays * perdc
print("march month milk bill :",mmbill_amt)

march month milk bill : 810.0

cost per day formula :    

      total bill/ days in march
delivery days :

       days in march - leavs

bill Amount :

       delivery days * cost per day

In [ ]:
aday   = 94
totald = 126
atendp = aday/totald*100
print("attendance percentage :",atendp)

attendance percentage : 74.60317460317461

 percentage formula :

          (Part / Whole)* 100

In [ ]:
wtins = 6
wcost = 20
AMD = 30
TWC = wtins * wcost * AMD
print("august month water bill :",TWC)

august month water bill : 3600

In [ ]:
_1lpc = 108.96
tpc   = 300
qnty = tpc/_1lpc
print("quantity :",qnty)

quantity : 2.7533039647577096

In [ ]:
soldb = 1680
mngb  = 1150
profit = soldb - mngb
print("profit :",profit)

profit : 530

In [ ]:
pcost = 200
gst = 20
gstA = pcost * gst/100
fcost = pcost - gstA
print("gst amount :",gstA)
print("final cost :",fcost)

gst amount : 40.0
final cost : 160.0

In [ ]:
pcost = 326.50
cord  = 3
dis   = 20
billA = pcost * cord
disA  = billA * dis/100
fcost = billA - disA
print("bill amount :",billA)
print("discount amount :",disA)
print("final cost :",fcost)
#

bill amount : 979.5
discount amount : 195.9
final cost : 783.6

In [ ]:
EMS = 30000
pf  = 12
tax = 8
pfA = EMS * pf/100
taxA = EMS * tax/100
FMS = EMS - pfA - taxA
print("pf amount :",pfA)
print("tax amount :",taxA)
print("final monthly salary :",FMS)

pf amount : 3600.0
tax amount : 2400.0
final monthly salary : 24000.0

In [ ]:
bank  = 500000
years = 4
rate  = 11.4
si  = (bank*years*rate)/100
famt = bank + si
emi  = famt/12
print("interest amount :",si)
print("final amount :",famt)
print("monthly emi :",emi)

interest amount : 228000.0
final amount : 728000.0
monthly emi : 60666.666666666664

simple interest formula :

       P = Principal amount

       R = Rate of interest (as a percentage)

       T = Time period (in years)

       **SI**= PTR/100

final amount :
           
    principal amount + si

emi :

    final amount / 12

In [ ]:

CMR = 2456
LMR = 2234
cpu = 3.46
tax = 0.06
schrg = 30

units = CMR - LMR
cou   = units * cpu
taxAn = cou  * tax
total = cou + taxA + schrg

print("units consumed :",units)
print("cost of units :",cou)
print("tax amount :",taxA)
print("total bill :",total)

units consumed : 222
cost of units : 768.12
tax amount : 46.087199999999996
total bill : 844.2072000000001

units consumed :      
      
    current reading - last reading

cost of units consumed :     

    units consumed * cost per unit

tax amount :    

    units consumed * tax per unit

total bill :    

    cost of units + tax amount + service charges

In [ ]:
CRR = 11494
CSR = 11236
kmc = 15
tolc = 200
NOKM = CRR - CSR
billA = NOKM * kmc + tolc
print("no of kilometers :",NOKM)
print("pooja bill amount :",billA)

no of kilometers : 258
pooja bill amount : 4070

8 / 12 /2025

monday

by using input function

In [ ]:
emp_id   = input("enter employee id : ")
emp_name = input("enter employee name : ")
gender   = input("enter employee gender : ")
emp_sal  = float(input("enter employee salary : "))
moths    = int(input("enter month : "))
AS       = emp_sal * 12
print()
print("employee id :",emp_id)
print("employee name :",emp_name)
print("employee gender :",gender)
print("employee salary :",emp_sal)
print("annual salary",AS)

enter employee id : 26556
enter employee name : swetha
enter employee gender : female
enter employee salary : 30000
enter month : 12

employee id : 26556
employee name : swetha
employee gender : female
employee salary : 30000.0
annual salary 360000.0

In [ ]:
bcost = 395.25
qty   = int(input("enter quantity : "))
billA = bcost * qty
print("bill amount :",billA)

enter quantity : 2
bill amount : 790.5

In [ ]:
amt  = eval(input("enter amount :"))
dc   = eval(input("enter doller cost :"))
doll = amt/dc
print("amount in dollers :",doll)

enter amount :300
enter doller cost :90.14
amount in dollers : 3.3281562014643886

In [ ]:
doll   = eval(input("enter doller coost :"))
amt    = eval (input("enter amount :"))
rupees = doll * amt
print("doller to rupees :",rupees)

enter doller coost :90.14
enter amount :698
doller to rupees : 62917.72

In [ ]:
gtc      = 460
inc_cost = 50
actual   = gtc + inc_cost/100
NOT      = int(input("enter no of tickets :"))
TBA      = actual * NOT
print("general ticket cost :",gtc)
print("increased cost :",inc_cost)
print("total bill amount :",TBA)

enter no of tickets :6
general ticket cost : 460
increased cost : 50
total bill amount : 2763.0

In [ ]:
EAS   = eval(input("enter employee annual salary :"))
hike  = int(input("hike percentage :"))
ahike = EAS *hike/100 + EAS
NMS   = ahike/12
print("employee annual salary :",EAS)
print("hike percentage :",hike)
print("after hike salary :",ahike)
print("new monthly salary :",NMS)

enter employee annual salary :350000
hike percentage :50
employee annual salary : 350000
hike percentage : 50
after hike salary : 525000.0
new monthly salary : 43750.0

In [ ]:
MVL = eval(input("enter market value land :"))
OSD = 5
NSD = 7
OSDA = MVL - MVL * OSD/100
NSDA = MVL - MVL * NSD/100
diff = OSDA - NSDA
print("market value land :",MVL)
print("old stam duty :",OSD)
print("new stam duty  :",NSD)
print("old stam duty amount :",OSDA)
print("new stam duty amount :",NSDA)
print("difference :",diff)

enter market value land :2000000
market value land : 2000000
old stam duty : 5
new stam duty  : 7
old stam duty amount : 1900000.0
new stam duty amount : 1860000.0
difference : 40000.0

In [ ]:
celsius = eval(input("enter celsius : "))
fahrenheit = (celsius * 9/5) + 32
print("fahrenheit :",fahrenheit)

enter celsius : 65
fahrenheit : 149.0

In [ ]:
f = eval(input("enter fahrenheit : "))
c = f *5/9 - 32
print("celsius :",c)

enter fahrenheit : 102
celsius : 24.666666666666664

In [38]:
mc = eval(input("mango cost per kg :"))
qty = eval(input("quantity :"))
dis = 22
BA  = mc * qty
DA  = BA * dis/100
TBA = BA - DA
print("bill amount :",BA)

print("discount amount :",DA)
print("total bill amount :",TBA)

mango cost per kg :100
quantity :3
bill amount : 300
discount amount : 66.0
total bill amount : 234.0

In [40]:
GTC = 3450
GST = 18
ITC = 3200
IGST = 12
GTCA = GTC + GTC * GST/100
ITCA = ITC + ITC * IGST/100
SA = GTCA - ITCA
print("general ticket cosT amount :",GTCA)
print("income tax amount :",ITCA)
print("mr. venkat saved amount :",SA)

general ticket cosT amount : 4071.0
income tax amount : 3584.0
mr. venkat saved amount : 487.0

In [41]:
km = eval(input("enter kilometers :"))
meters = km * 1000
print("convert into km to meters :",meters)

enter kilometers :25
convert into km to meters : 25000

In [43]:
hours = eval(input("enter hours :"))
days  = hours/24
print("converted into hours to days :",days

      )

enter hours :60
converted into hours to days : 2.5