<a href="https://colab.research.google.com/github/swetha315245/Python-Code/blob/main/phython_swetha.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

5 - 12 -2025

veriable


1.   the name given to memory location
2.   veriable are used to store values

            

---

In [ ]:
age = 22                        # age     = veriable
print ("age :", age)            # 22      = value
                                # '='     = operator
                                # print() = function

age : 22

In [ ]:
a = 5
b = a                       # ERROR because we don't have "p" veriable
c = p
print (c)

NameError: name 'p' is not defined

In [ ]:


print(a)

26

NOTE :
       " in one veriable we can store only one value at a time,
        whenever secound value comes then first value is deleted."

In [ ]:
# example
a = 8
a = 26
print("A :",a)

A : 26

In [ ]:
priya = 25
priya = 28
print("priya :",priya)

priya : 28

NOTE :
        " we can  use more then one veriable and values at a time"
        syntax :
                veriable_1,veriable_2 = value 1 ,value 2
         
         rule : no of veriables and values should me match

In [ ]:
a,b = 2,5
print("A :",a)
print("B :",b)

A : 2
B : 5

In [1]:
#a,b,c = 2,5,
#print("a is :",a)
#print("b is :",b)
#print("c is :",c) ERROR IS COMMING WHY BECAUSE  NO VALUES IN "C"

CONSIDER FIRSTNAME AS "SATHYA" LASTNAME AS TECHNOLOGY NOW FIND OUT FULLNAME

In [3]:
first_name = "sathya"
last_name = "technology"
full_name = first_name+last_name
print("full_name :",full_name)

full_name : sathyatechnology

consider A value is 7 and B value is 2.6 now  find out sum.

In [6]:
a = 7
b = 2.6
c = a+b
print("sum is :",c)

sum is : 9.6

consider onion cost 60rs per kg customer purchesed for 5kg now find out bill amount.

In [8]:
onion_cost = 60
customer = 5
bill_amount = onion_cost * customer
print("bill amount :",bill_amount)

bill amount : 300

consider jeanscost is 1500.0, shop provides 20% discount. now find out discount amount and final cost

In [9]:
jcost    = 1500
discount = 20
discount_amt = jcost*discount/100
final_cost = jcost-discount_amt
print("discount amount :",discount_amt)
print("final cost :",final_cost)

discount amount : 300.0
final cost : 1200.0