<a href="https://colab.research.google.com/github/swetha315245/Python-Code/blob/main/swetha_python_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

6/1/2026

looping statements concept

forloop

in for loop in two ways :

1.based on group of elements

2.based on range(-,-,-) function

now for loop with  range() function

In [ ]:
n = int(input("enter the range :"))
for i in range(1,n+1):
       if(i%2==0):
        print(i)

enter the range :10
2
4
6
8
10

In [ ]:
n = int(input("enter any number :"))
for i in range(n,0,-1):
        print(i,end = " ")

enter any number :10
10 9 8 7 6 5 4 3 2 1

In [ ]:
n = int(input("enter any number :"))
sum = 0
for i in range(1,n+1):
  if(i%2==0):
    print(i)
    sum += i
print("sum of even numbers are :",sum)

enter any number :10
2
4
6
8
10
sum of even numbers are : 30

In [ ]:
n = int(input("enter any number :"))
product = 1
for i in range(1,n+1):
  print(i)
  product *= i
print("product of numbers :",product)

enter any number :6
1
2
3
4
5
6
product of numbers : 720

In [ ]:
n = int(input("enter any number :"))
for i in range(1,n+1):
  if(i%5 ==0):
   print(i)
print(n,"divisible ")

enter any number :10
5
10
10 divisible

In [ ]:
n = int(input("enter any number :"))
for i in range(1,n+1):
    if(i%2 ==0):
       print(i)
    else:
       print(i,end = " \t")

enter any number :6
1 	2
3 	4
5 	6

In [ ]:
start = int(input("enter start value :"))
end = int(input("enter end value :"))
for i in range(start,end+1):
  print(i,end = " ")

enter start value :0
enter end value :6
0 1 2 3 4 5 6

In [ ]:
start = int(input("enter start value :"))
end = int(input("enter end value :"))
for i in range(start,end-1,-1):
  print(i,end = " ")

enter start value :5
enter end value :1
5 4 3 2 1

In [ ]:
n = int(input("enter any number :"))
count = 0
for i in range(1,n+1):
  if(n%i ==0):
    print(i)
    count += 1
print(count,"numbers are divisible by",n)

enter any number :6
1
2
3
6
4 numbers are divisible by 6

In [ ]:
n = int(input("enter any number :"))
count = 0
for i in range(1,n+1):
  if(i%2 == 0):
    print(i)
    count += 1
print(count,"even numbers")

enter any number :6
2
4
6
3 even numbers

In [ ]:
n = int(input("enter any number :"))
count = 0
for i in range(1,n+1):
  if(n%i == 0):
    count = count + 1
if(count==2):
  print("prime number")
else:
  print("not a prime number")

enter any number :6
not a prime number

nested loop concept relateed programs

In [ ]:
for r in range(1,4):
  for c in range(1,5):
    print(r,end = "\t")
  print()

1	1	1	1
2	2	2	2
3	3	3	3

In [ ]:
for r in range(1,4):
  for c in range(1,5):
    print(c - r,end = "\t")
  print()

0	1	2	3
-1	0	1	2
-2	-1	0	1

In [ ]:
a = 1
for r in range (1,4):
  for c in range (1,5):
    print(a,end='\t')
    a += 1
  print()

1	2	3	4
5	6	7	8
9	10	11	12

In [ ]:
for r in range(1,4):
  for c in range(1,5):
    print("*",end = "\t")
  print()

*	*	*	*
*	*	*	*
*	*	*	*

In [ ]:
for r in range(1,6):
  for c in range(1,5):
    if(r%2 == 0):
      print("$",end = "\t")
    else:
      print("*",end = "\t")
  print()

*	*	*	*
$	$	$	$
*	*	*	*
$	$	$	$
*	*	*	*

In [ ]:
for r in range(1,6):
  for c in range(1,5):
    if(r%2 == 0):
      print("$",end = "\t")
    elif(r==5):
      print("@",end = "\t")
    else:
      print("*",end = "\t")
  print()

*	*	*	*
$	$	$	$
*	*	*	*
$	$	$	$
@	@	@	@

In [ ]:
for r in range(1,6):
  for c in range(1,6):
    if(c%2 == 0):
      print("$",end = "\t")
    else:
      print("*",end = "\t")
  print()

*	$	*	$	*
*	$	*	$	*
*	$	*	$	*
*	$	*	$	*
*	$	*	$	*

In [ ]:
for r in range(1,6):
  a = 65
  for c in range(1,5):
    print(chr(a),end = "\t")
    a += 1
  print()

A	B	C	D
A	B	C	D
A	B	C	D
A	B	C	D
A	B	C	D

In [ ]:
for r in range(1,6):
  for c in range(1,r+1):
    print(c,end = "\t")
  print()

1
1	2
1	2	3
1	2	3	4
1	2	3	4	5

In [ ]:
for r in range(1,6):
  for c in range(1,r+1):
    print("*",end = "\t")
  print()

*
*	*
*	*	*
*	*	*	*
*	*	*	*	*

In [ ]:
for r in range(1,6):
  d = 65
  for c in range(1,r+1):
    print(chr(d),end = "\t")
    d += 1
  print()

A
A	B
A	B	C
A	B	C	D
A	B	C	D	E

In [ ]:
for r in range(1,6):
  for c in range(1,r+1):
    print(r,end = "\t")
  print()

1
2	2
3	3	3
4	4	4	4
5	5	5	5	5

In [ ]:
c = 0
for i in range(1,101):
    if(i%3 == 0 and i%5 == 0):
      count += 1
      print(i)

15
30
45
60
75
90

In [ ]:
n = int(input("enter any numbetr:"))
c = 0
for i in range(1,n+1):
  if(n%i == 0):
    print(i)
    c += 1

print(c)

enter any numbetr:6
1
2
3
6
4

In [ ]:

for i in range(1,51):
  if(i%7 != 0):
   print(i)

1
2
3
4
5
6
8
9
10
11
12
13
15
16
17
18
19
20
22
23
24
25
26
27
29
30
31
32
33
34
36
37
38
39
40
41
43
44
45
46
47
48
50

In [ ]:
n = int(input("enter any number :"))
sum = 0
for i in range(1,n+1):
  sum += i**2
print("sum of squares of the",n,"numbers is :",sum)

enter any number :10
sum of squares of the 10 numbers 385

In [ ]:
n_str = input("enter any number :")
n = int(n_str)
count = 0
for i in n_str:
  count += 1
print("The number is:", n)
print("Number of digits:", count)

In [ ]:
ages = [12,22,68,6,13,60]
c_childs = 0
c_teen = 0
c_aduilt = 0
c_seniors = 0
for age in ages:
  if(age<13):
    c_childs += 1
  if(age>= 13 and age<=19):
    c_teen += 1
  if(age>=20 and age<=59):
    c_aduilt += 1
  if(age>=60):
    c_seniors += 1
print(c_childs," childs available")
print(c_teen,"teenagers available")
print(c_aduilt," adults available")
print(c_seniors," senior citizens available")

2  childs available
1 teenagers available
1  adults available
2  senior citizens available

In [ ]:
billamt = [2000,15000,8000,1000,500,2500]
for amt in billamt:
  if(amt>5000):
    print(amt,"free gift + 20% off")
  elif(amt>=3000 and amt<=5000):
    print(amt,"10 % off")
  elif(amt > 1000 ):
    print(amt,"5 % off")
  else:
    print(amt,"no discount")

2000 5 % off
15000 free gift + 20% off
8000 free gift + 20% off
1000 no discount
500 no discount
2500 5 % off

9/1/2026 while loop concept related programs

In [ ]:
n = int(input("enter any number :"))
rev = 0
a = n
while (n>0):
  r = n%10
  n = n//10
  rev = rev * 10 + r
print("revers number is:",rev)
if(rev==a):
  print("it is a palindrom")
else:
  print("it is not a palindrom")

enter any number :121
revers number is: 121
it is a palindrom

In [ ]:
n = int(input("enter any number :"))
rev = 0
a = n
while (n>0):
  r = n%10
  n = n//10
  rev = rev * 10 + r
print("revers number is:",rev)
if(rev==a):
  print("it is a palindrom")
else:
  print("it is not a palindrom")

enter any number :125
revers number is: 521
it is not a palindrom

In [ ]:
n = int(input("enter any numbe :"))
sum = 0
a = n
while n > 0 :
  if(n%2 == 0):
    sum += 1
print(n)
print("sum of all even numbers :",sum)